__pycache__/
venv/
.idea/
.ipynb_checkpoints/
tag_embeddings.json
eval_dataset.json
train_dataset.json
wandb
models

# Tagging results (everything inside "results" and its subfolders with .json extension)
results/**/*.json
